@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --green: #16a085;
  --white: #fff;
  --black: #444;
  --light-color: #777;
  --lightGray: #eee;
  --whiteSmoke: #f5f5f5;
  --color403333: #403333;
  --color0069f7: #0069f7;
  --colorA09A9A: #a09a9a;
  --color666666: #666666;
  --color57b846: #57b846;
  --color999999: #999999;
  --gray: gray;
  --box-shadow: 0.5rem 0.5rem 0 rgba(22, 160, 133, 0.2);
  --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  --border: 0.2rem solid var(--green);
}

html[data-theme="dark"] {
  --green: #16a085;
  --white: #444;
  --black: #fff;
  --light-color: #f5f5f5;
  --lightGray: #444;
  --whiteSmoke: #444;
  --color403333: #403333;
  --color0069f7: #0069f7;
  --colorA09A9A: #a09a9a;
  --color666666: #666666;
  --color57b846: #57b846;
  --color999999: #999999;
  --gray: gray;
  --box-shadow: 0.5rem 0.5rem 0 rgba(22, 160, 133, 0.2);
  --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  --border: 0.2rem solid var(--green);
  background-color: #444;
}

.theme_icon {
  color: var(--green);
  cursor: pointer;
  transition: transform 0.5s;
}

.theme_icon:hover {
  color: #e7bb47;
}

.flip {
  transform: rotate(360deg) !important;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* scroll-padding-top: 7rem; */
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: var(--whiteSmoke);
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color: var(--black);
  font-size: 5rem;
  letter-spacing: 0.4rem;
}

.heading span {
  text-transform: uppercase;
  color: var(--green);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  color: var(--green);
  cursor: pointer;
  font-size: 1.7rem;
  background: var(--white);
}

.btn span {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  background: var(--green);
  color: var(--white);
  margin-left: 0.5rem;
}

.btn:hover {
  background: var(--green);
  color: var(--white);
}

.btn:hover span {
  color: var(--green);
  background: var(--white);
  margin-left: 1rem;
}

.header {
  padding: 2rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white);
}

.header .logo {
  font-size: 2.5rem;
  color: var(--black);
}

.header .logo i {
  color: var(--green);
}

.header .navbar a {
  font-size: 1.7rem;
  color: var(--light-color);
  margin-left: 2rem;
}

.header .navbar a:hover {
  color: var(--green);
}

#menu-btn {
  font-size: 2.5rem;
  border-radius: 0.5rem;
  background: var(--lightGray);
  color: var(--green);
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: none;
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 10rem;
}

.home .image {
  flex: 1 1 45rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  flex: 1 1 45rem;
}

.home .content h3 {
  font-size: 4.5rem;
  color: var(--black);
  line-height: 1.8;
  text-shadow: var(--text-shadow);
}

.home .content p {
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
}

.icons-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icons-container .icons {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2.5rem;
}

.icons-container .icons i {
  font-size: 4.5rem;
  color: var(--green);
  padding-bottom: 0.7rem;
}

.icons-container .icons h3 {
  font-size: 4.5rem;
  color: var(--black);
  padding: 0.5rem 0;
  text-shadow: var(--text-shadow);
}

.icons-container .icons p {
  font-size: 1.7rem;
  color: var(--light-color);
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  background: (--white);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 2.5rem;
}

.services .box-container .box i {
  color: var(--green);
  font-size: 5rem;
  padding-bottom: 0.5rem;
}

.services .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding: 1rem 0;
}

.services .box-container .box p {
  color: var(--light-color);
  font-size: 1.4rem;
  line-height: 2;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h3 {
  color: var(--black);
  text-shadow: var(--text-shadow);
  font-size: 4rem;
  line-height: 1.8;
}

.about .row .content p {
  color: var(--light-color);
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 1.8;
}

.doctors .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.doctors .box-container .box {
  text-align: center;
  background: (--white);
  border-radius: 0.5rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: 2rem;
}

.doctors .box-container .box img {
  height: 20rem;
  border: var(--border);
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.doctors .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
}

.doctors .box-container .box span {
  color: var(--green);
  font-size: 1.5rem;
}

.doctors .box-container .box .share {
  padding-top: 2rem;
}

.doctors .box-container .box .share a {
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: var(--green);
  border-radius: 0.5rem;
  border: var(--border);
  margin: 0.3rem;
}

.doctors .box-container .box .share a:hover {
  background: var(--green);
  color: (--white);
  box-shadow: var(--box-shadow);
}

.book .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.book .row .image {
  flex: 1 1 45rem;
}

.book .row .image img {
  width: 100%;
}

.book .row form {
  flex: 1 1 45rem;
  background: (--white);
  border: var(--border);
  box-shadow: var(--box-shadow);
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
}

.book .row form h3 {
  color: var(--black);
  padding-bottom: 1rem;
  font-size: 3rem;
}

.book .row form .box {
  width: 100%;
  margin: 0.7rem 0;
  border-radius: 0.5rem;
  border: var(--border);
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
  padding: 1rem;
}

.book .row form .btn {
  padding: 1rem 4rem;
}

.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}

.review .box-container .box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 2.5rem;
  background: (--white);
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.review .box-container .box img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  border: 0.5rem solid (--white);
}

.review .box-container .box h3 {
  color: (--white);
  font-size: 2.2rem;
  padding: 0.5rem 0;
}

.review .box-container .box .stars i {
  color: (--white);
  font-size: 1.5rem;
}

.review .box-container .box .text {
  color: var(--light-color);
  line-height: 1.8;
  font-size: 1.6rem;
  padding-top: 4rem;
}

.review .box-container .box::before {
  content: "";
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--green);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 25rem;
  width: 120%;
  z-index: -1;
}

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.blogs .box-container .box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 2rem;
}

.blogs .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blogs .box-container .box:hover .image img {
  transform: scale(1.6);
}

.blogs .box-container .box .content {
  padding-top: 1rem;
}

.blogs .box-container .box .content .icon {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogs .box-container .box .content .icon a {
  font-size: 1.4rem;
  color: var(--light-color);
}

.blogs .box-container .box .content .icon a:hover {
  color: var(--green);
}

.blogs .box-container .box .content .icon a i {
  padding-right: 0.5rem;
  color: var(--green);
}

.blogs .box-container .box .content h3 {
  color: var(--black);
  font-size: 3rem;
}

.blogs .box-container .box .content p {
  color: var(--light-color);
  font-size: 1.5rem;
  line-height: 1.8;
  padding: 1rem 0;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--black);
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--green);
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  color: var(--light-color);
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.footer .credit span {
  color: var(--green);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  /* background: #11a5df2b; */
  width: 80vw;
  padding: 15px;
}

h2 {
  color: var(--color403333);
}

.contact-info {
  display: flex;
  width: 90%;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  box-shadow: 0 0 15px var(--gray);
  text-align: center;
  color: var(--gray);
  border-radius: 5px;
  padding: 7px;
}

.details {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  width: 40%;
  background: var(--color0069f7);
  color: white;
  border-radius: 5px;
  padding: 7px;
  box-shadow: 0 0 15px rgb(46, 119, 196);
}
.contact-items {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.contact-items-wrapper {
  padding: 25px;
}

.details p {
  font-size: 15px;
  margin-left: 15px;
}

.details p a {
  color: (--white);
}
.details p a:hover {
  color: var(--colorA09A9A);
}

.material-icons {
  width: 12px;
  margin: 5px;
}

input {
  margin: 5px 15px;
  height: 25px;
}

textarea {
  height: 150px;
  margin: 5px 15px;
}

button {
  margin: 5px 15px;
  width: 80px;
  background: var(--color0069f7);
  padding: 3px 10px;
  border: 0;
  border-radius: 5px;
  color: var(--white);
  font-size: 15px;
}

@media screen and (max-width: 780px) {
  .contact-info {
    flex-direction: column;
    width: 90%;
  }
  form {
    width: 100%;
    margin-bottom: 5px;
  }
  .details {
    width: 100%;
  }
}

/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: block;
  }

  .header .navbar {
    position: absolute;
    top: 115%;
    right: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    border: var(--border);
    background: var(--white);
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
    transition: none;
  }

  .header .navbar.active {
    transform: scale(1);
    opacity: 1;
    transition: 0.5s ease-in-out;
  }

  .header .navbar a {
    font-size: 2rem;
    display: block;
    margin: 2.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/* login */

/*---------------------------------------------*/
a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: var(--color666666);
  margin: 0px;
  transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: var(--color57b846);
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: var(--color666666);
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: var(--color999999);
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: var(--color666666);
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    width: 100%;
    margin: auto;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}

/*------------------------------------------------------------------*/

.validate-input {
  position: relative;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
#loginnn {
  width: fit-content;
  display: none;
  position: absolute;
  top: 110px;
  left: 34%;
  z-index: 800;
  background-color: black;
  border-radius: 30px;
  transition: 0.5s;
}

#r:hover #loginnn {
  display: block;
  color: var(--green);
}

/* contact us style */

.container {
  position: absolute;
  width: 100%;
  top: 130px;
  display: flex;
  justify-content: center;
}

.container form input,
textarea {
  padding: 20px;
  border-radius: 10px;
}

.container form {
  background-color: rgb(124, 190, 184);
}
